.App {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #8e819c;
  border-radius: 6px;
}
